<% provide(:title, @user.firstname) %>
<!-- TODO: make partials there -->
<!--<h1> <%= @user.usr_type %></h1>-->

<% if @user.usr_type == 'guest' %>

    <!--<div class="row">-->
    <!--<div class="large-4 columns">-->
    <section>
      <!--<h1>-->
      <%= render 'users/partials/avatar' %>
      <!--</h1>-->
    </section>
    <!--</div>-->
    <!--</div>-->

    <div class="row">
      <%= @user.firstname + ' ' + @user.lastname %>
    </div>

    <div class="row">
      <%= render 'users/partials/user_address' %>
    </div>

    <div class="row">
      <%= render 'users/partials/contacts' %>
    </div>
    <!-- __________________________________________________________________ -->
<% elsif @user.usr_type == 'showman' %>

    <div class="row name-header">
      <%= @user.firstname + ' ' + @user.lastname %>
    </div>

    <div class="row">
      <div class="small-5 columns usr-avatar first-col">
        <%= render 'users/partials/avatar' %>
        <% if @user != @current_user %>
            <%= link_to('Отправить сообщение', new_user_message_path(@user)) %>
        <% end %>

        <% if @user == current_user %>
            <%= link_to('Мои сообщения', user_conversations_path(@user)) %>
        <% end %>
        <hr>
        </hr>

        <div class="info">
          <!--<div class="small-2 columns">-->
          <%= render 'users/partials/user_address' %>
          <hr>
          </hr>
          <%= render 'users/partials/contacts' %>
          <hr>
          </hr>

          <!--TODO: process it through l18n -->
          <% if @showman_types %>
              услуги:
              <ul>
                <% @showman_types.each do |t| %>
                    <li><%= t %></li>
                <% end %>
              </ul>
          <% end %>
          <!--</div>-->
          <hr>
          </hr>
          Присоединился к нам <%= @user.created_at.strftime("%d-%m-%Y") %>
          <hr>
          </hr>
        </div>
      </div>

      <div class="small-7 columns usr-data last-col">

        <div class="row">
          <div id="blueimp-gallery" class="blueimp-gallery">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
          </div>
        </div>

        <div id="links">
          <% @random_images.each do |img| %>
              <%= link_to image_tag(img.image.url(:thumb)), img.image.url %>
          <% end %>
        </div>

        <div class="info">
          <div class="row">
            <%= link_to 'Посмотреть альбомы >>', user_albums_path(@user.id) %>
          </div>
          <hr>
          </hr>

          <div class="row">
            <%= @user.about %>
          </div>

          <% unless @random_images2.empty? %>
              <hr>
              </hr>
              <div id="links2">
                <% @random_images2.each do |img| %>
                    <%= link_to image_tag(img.image.url(:thumb)), img.image.url %>
                <% end %>
              </div>
          <% end %>
          <hr> </hr>
        </div>
      </div>
    </div>

    <!-- _______________________________________________________________________ -->
<% elsif @user.usr_type == 'restaurant' %>
    <div class="row">
      <%= render 'users/partials/avatar' %>
      <%= render 'users/partials/services_address' %>
      <%= render 'users/partials/contacts' %>
      <%= render 'users/partials/restaurant_attributes' %>
      <%= @restaurant.about %>

      <% if @restaurant_types %>
          <% @restaurant_types.each do |t| %>
              <%= t %>
          <% end %>
      <% end %>
    </div>
<% end %>

</div>


<!-- <script src="/blueimp-gallery.min.js"></script> -->

<script>
    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };


    document.getElementById('links2').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
</script>